<app-header-cancelar booVolver="true"></app-header-cancelar>

<ion-content fullscreen>
  <ion-slide class="fondo">
      <img [src]="img_fondo" class="image_fondo">

      <ion-row class="encuesta">
          <ion-col size="12" class="titulo_encuesta">
              <h2>{{titulo}}</h2>
          </ion-col>
          <ion-col size="12" class="titulo_encuesta">
              <h2>{{subtitulo}}</h2>
          </ion-col>
          <ion-col>
            <br>
          </ion-col>
          <ion-col size="12">
              <ion-button class="boton_encuesta color-boton-azul" expand="block" size="large"
                          (click)="siguientePregunta('M')">
                  <h2>MASCULINO</h2>
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button class="boton_encuesta color-boton-rosado" expand="block" size="large"
                          (click)="siguientePregunta('M')">
                  <h2>FEMENINO</h2>
              </ion-button>
            </ion-col>
    
      </ion-row>
  </ion-slide>
</ion-content>

<app-footer-encuesta posicion="1"></app-footer-encuesta>