.color-boton-azul{
    --background:rgb(60,140,231);
    --background: transparent\9;
    --background:rgba(60,140,231,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C8CE700,endColorstr=#3C8CE700);
    zoom: 1;
}

.color-boton-rosado{
    --background:rgb(225,79,173);
    --background: transparent\9;
    --background:rgba(225,79,173,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E14FAD00,endColorstr=#E14FAD00);
    zoom: 1;
}