ion-item  {
    display: flex;
    padding-left: 0%;
    margin-left: 0%;
    --padding-start: 0;
    --min-height: 80px;
    --background: black;
}

ion-text {
    position: fixed;
    align-content: center;
    width: 100%;

    h1 {
        text-align: center;
    }
}