<ion-toolbar class="toolbar">
    <ion-buttons slot="start">
        <ion-back-button  icon="null"  defaultHref="/" onclick="" mode="md" > 
          <ion-button *ngIf="!booVolver" color="primary">
            CANCELAR
           </ion-button>
           <ion-button *ngIf="booVolver" color="primary">
              <ion-icon name="arrow-back" mode="ios"></ion-icon>
              VOLVER
           </ion-button>
        </ion-back-button>
       
    </ion-buttons>

    <img slot="end" src="/assets/logo.svg" class="slide-toolbar-img" >
</ion-toolbar>