ion-item  {
    padding: 0px;
    --padding-start: 0; 
}

ion-grid {
    padding: 0%;
}

.row_categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 3;
    height: auto;
}

.col_imagen {
    background: var(--ion-color-tertiary);
    width: 60px;
    height: 60px;
    padding: 10px;

    h4{
        text-align: center;
    }

    h6  {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.7em;
        text-align: center;
        text-transform: none;
    }
}

.col_titulo {
    display: flex-start;
    flex-grow: 9;
    height: 100%;

    h2  {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        font-size: 1em;
        text-transform: capitalize;
    }

    h6  {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        font-size: 0.7em;
    }
}