// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
  --ion-color-primary: #CDD664;
  --ion-color-primary-rgb: 205,214,100;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #b4bc58;
  --ion-color-primary-tint: #d2da74;

  /** secondary **/
  --ion-color-secondary: #0D6073;
  --ion-color-secondary-rgb: 13,96,115;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0b5465;
  --ion-color-secondary-tint: #257081;

  /** tertiary **/
  --ion-color-tertiary: #0A0A0B;
  --ion-color-tertiary-rgb: 10,10,11;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #09090a;
  --ion-color-tertiary-tint: #232323;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** facebook **/
  --ion-color-facebook: #3C8CE7;
  --ion-color-facebook-rgb: 60,140,231;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #357bcb;
  --ion-color-facebook-tint: #5098e9;

/** instagram **/
  --ion-color-instagram: #E14FAD;
  --ion-color-instagram-rgb: 225,79,173;
  --ion-color-instagram-contrast: #000000;
  --ion-color-instagram-contrast-rgb: 0,0,0;
  --ion-color-instagram-shade: #c64698;
  --ion-color-instagram-tint: #e461b5;
}

/** fondo negro **/
.fondo {
  background: rgba(24,34,46,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(24,34,46,1) 0%, rgba(15,14,16,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(24,34,46,1)), color-stop(100%, rgba(15,14,16,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(24,34,46,1) 0%, rgba(15,14,16,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(24,34,46,1) 0%, rgba(15,14,16,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(24,34,46,1) 0%, rgba(15,14,16,1) 100%);
  background: radial-gradient(ellipse at center, rgba(24,34,46,1) 0%, rgba(15,14,16,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18222e', endColorstr='#0f0e10', GradientType=1 );
}

ion-content, ion-header, ion-list {
  background: var(--ion-color-light);
}

.titulo {
  padding: 0;

  h2 {
      font-family: "Futura";
      text-align: left;
      color: var(--ion-color-light);
      font-size: 1.4em;
      margin-top: 0%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 0%;
      font-style: italic;
      }
  }

.text_titulo {
  font-family: "Eurostile LT Std";
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.text_color_white {
  font-family: "Futura Std";
  font-weight: 900;
  text-transform: uppercase;
  color: var(--ion-color-light);
}

.text_color_gray {
  font-family: "Futura";
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--ion-color-medium);

  margin-top: 0%;
  margin-bottom: 0%;
}

.text_color_gray_div_h4 {
  font-family: "Futura";
  text-transform: uppercase;
  color: var(--ion-color-medium);
}

.text_color_gray_div_h5 {
  font-family: "Futura";
  color: var(--ion-color-medium);
}

.h6 {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-right: 0%;
}

.list-md {
  padding-top: 0%;
}

.margin_buttom {
  margin-bottom: 2px;
}
/*
ion-segment-button {
  height: 30px;
  min-height: 30px;
  --border-radius: 4px;
  ion-label {
    margin: 0;
  }
}*/
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.rotate-90 {
  display: inline-block; 
  transform: rotate(90deg);
}

ion-input {
  font-family: "Eurostyle";
}

.image_fondo {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  }

  ion-col{
    padding: 0px;
  }

  /** ENCUESTA **/
  .encuesta{
    margin-left: 8% !important;
    margin-right: 8% !important;
  }

.titulo_encuesta{
  padding: 0;

  h2 {
      font-family: "Futura";
      text-align: left;
      color: var(--ion-color-light);
      font-size: 1.8em;
      margin-top: 0%;
      margin-bottom: 0%;
      font-style: italic;
      }
  }

.subtitulo_encuesta{
  padding: 0;
  
  h5 {
    font-family: "Futura";
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 0.7em;
    margin-top: 0%;
    margin-bottom: 0%;
    letter-spacing: 0.1em;
    color: white;
  }
}

.boton_encuesta {
  --border-radius: 5px;
  color: white;

  h2{
      filter: none;
      font-family: "Futura std";
      font-style: normal;
      text-align: center;
      margin: 0;
  }
}

.color-boton-azul-preguntas{
  --background:rgb(13,96,115);
  --background: transparent\9;
  --background:rgba(13,96,115,0.7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D607300,endColorstr=#0D607300);
  zoom: 1;
}

.button_encuesta {
  margin-top: 20px;
 
  h4 {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
      text-transform: initial;
  }
}