.descripcion{
    h2 {
        font-family: "Futura";
        font-size: 0.7em;
        text-align: left;
        font-weight: 300;
        letter-spacing: 0.1em;
        color: white;
        margin-top: 0%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0%;
    }
}

.chechbox_item {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;

     ion-checkbox {
         --background: transparent;
         --border-color: var(--ion-color-primary);
         position: absolute;
     }

     .label{
    
        h4{
            font-family: "Futura";
            font-size: 0.5em;
            text-align: left;
            letter-spacing: 0.1em;
            color: white;
            margin-top: 0%;
            margin-left: 10%;
        }
    }
}

.input_item{
    --background: transparent;
    color: var(--ion-color-light);
    margin-left: 10%;
    margin-right: 10%;

    input {
        color: var(--ion-color-light);
    }
}

ion-item {
    --border-color: var(--ion-color-primary);
  }

.bottom {
    position: absolute;
    bottom: 10%;
    right: 5%;
}