<app-header-cancelar></app-header-cancelar>

<ion-content fullscreen ion-padding>
    <ion-slide class="fondo"> 
        <img [src]="img_fondo" class="image_fondo">

        <ion-row>
          <ion-col size="12" class="titulo">
              <h2><ion-text color="primary">
                {{getNombreUsuario()}}
              </ion-text>{{titulo}}</h2>
          </ion-col>
          <ion-col size="12" class="descripcion">
              <h2>{{descripcion}}</h2>
          </ion-col>
            <ion-col size="12">
                <ion-item class="input_item">
                    <ion-label position="stacked">{{etq_numero_telefonico}}</ion-label>
                    <ion-input type="text"
                              [(ngModel)]="usuario.contacto"></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-item class="input_item">
                    <ion-label position="stacked">{{etq_correo_electronico}}</ion-label>
                    <ion-input type="text"
                                [(ngModel)]="usuario.correo"></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col size="12" class="chechbox_item">
                  <ion-checkbox color="primary" [(ngModel)]="isChecked"></ion-checkbox>
                  <ion-text class="label">
                    <h4>{{terminos_condiciones}}</h4></ion-text>
            </ion-col>
        
            <ion-col size="12" class="bottom">
                <ion-row>
                    <ion-col size="5"></ion-col>
                    <ion-col size="7">
                        <ion-button class="slide_button"
                        type="submit"
                        size="large"
                        shape="round"
                        expand="block"
                        color="primary"
                        (click)="gotoNextPage()">
                          <ion-text color="light">
                              <h4>ACEPTAR</h4>
                            </ion-text>
                    </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        
  </ion-slide>

</ion-content>
