.slide {
    position: relative;
    display: flex;
    //align-items: center;
    height: 82.3vh;
    width: 100%;
   }
   
.slide-image {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    }

ion-grid {
    position: absolute;
    top: 0;
    }

.titulo_header {
    width: 100%;
    font-family: "Futura Std";
    font-style: italic;
    line-height: 1.2;
    text-transform: uppercase;
 
    h1 {
        font-size: 2em;
        margin-bottom: 0px;
    }
}

.subtitulo_header {
    font-family: "Streetbrush";
    line-height: 1;
    text-align: right;

    h2 {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 2.5em;
        padding-right: 20px;
    }
}

@media (min-width: 32em) {
    h2 {
    font-size: 4em;
    }
}
   
.contenido{
    font-family: "Futura";
    margin-bottom: 0.5em;
    font-size: 0.8em;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: white;
    }
   
.slide_button {
    font-family: "Futura";
    margin-bottom: 2.5em;
    position:fixed;
    bottom:0px;
    width:50%;
    height: 10%;

}

.resaltar_texto {
    font-family: "Futura Std";
    font-style: italic;
    line-height: 1.2;
    text-transform: uppercase;
}