.input_item{
    --background: transparent;
    color: var(--ion-color-light);
    margin-left: 10%;
    margin-right: 10%;

    input {
        color: var(--ion-color-light);
    }
}

ion-item {
    --border-color: var(--ion-color-primary);
  }

.bottom {
    position: absolute;
    bottom: 15%;
    right: 5%;
}